/*-----------COLUMNS------------*/
.physical-columns{

display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content: space-evenly;
}
.columns{
  padding: 10px;
  height: auto;
  background-color: white;
  color: black;
  float: left ;
  box-sizing: border-box;
  border-radius: 25px;
  margin-top:100px;
}

.subpage {
  background-image: url("https://cdn.glitch.com/646676a3-773d-469d-8139-efba3d9a0c6f%2FVertical%20Gradient%20for%20QuaranMe.png?v=1596053348910");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: black;
}
